.container {
  width: 90vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  overflow-x: hidden;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.tableContainer {
  width: 90vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

table {
  width: 80vh;
  border: 1px solid blue;
}

table thead tr th {
  background-color: blue;
  color: white;
  min-width: 100px;
  height: fit-content;
  padding: 10px 0;
}

table tbody tr td {
  border: 1px solid blue;
  text-align: center;
  padding: 10px 0;
}

.pagination {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.paginationBtn {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 20%;
  border: none;
  font-weight: bold;
  background-color: rgb(232, 232, 255);
}

.paginationBtn:hover {
  cursor: pointer;
}
